<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarDocente</servlet-name>
        <servlet-class>AgregarDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMaquina</servlet-name>
        <servlet-class>EliminarMaquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarDocente</servlet-name>
        <servlet-class>ConsultarDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarMaquina</servlet-name>
        <servlet-class>RegistrarMaquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroMaquina</servlet-name>
        <servlet-class>RegistroMaquina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarDocente</servlet-name>
        <url-pattern>/AgregarDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarDocente</servlet-name>
        <url-pattern>/ConsultarDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarMaquina</servlet-name>
        <url-pattern>/RegistrarMaquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroMaquina</servlet-name>
        <url-pattern>/RegistroMaquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMaquina</servlet-name>
        <url-pattern>/EliminarMaquina</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
