<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerificarEspecialista</servlet-name>
        <servlet-class>Servlet.VerificarEspecialista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificarEspecialista</servlet-name>
        <url-pattern>/VerificarEspecialista</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlet.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegistroEspecialista</servlet-name>
        <servlet-class>Servlet.RegistroEspecialista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroEspecialista</servlet-name>
        <url-pattern>/RegistroEspecialista</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
