*{
    padding: 0;
    margin: 0;
    color: rgb(87, 226, 129); 
    text-align: center;

}
html, body{
    background-color:brown;
}

.main-container{
    border: 4px solid #242424;
    border-radius: 25px;
    margin: 2rem;
    background-color: rgb(197, 24, 160);
}
nav, section, footer, article, aside{
    border: 2px solid rgb(4, 160, 172);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width: 40%;
    display: inline-block;
    height: 300px;
    background-color: rgb(160, 7, 7);

}